<ul class="nav flex-column ">
    <li class="nav-item fs-3 mb-3 ">
        <a class="nav-link text-secondary btn btn-outline-warning" asp-area="Identity" asp-action="OrdersHistory" asp-controller="UserSettings">Historia zamówień</a>
    </li>
    <li class="nav-item fs-3 my-3">
        <a class="nav-link text-secondary   btn btn-outline-warning " asp-area="Identity" asp-action="ChangePersonalData" asp-controller="UserSettings">Dane osobowe i adresowe</a>
    </li>
    <li class="nav-item fs-3 my-3">
        <a class="nav-link text-secondary   btn btn-outline-warning" asp-area="Identity" asp-action="ChangePassword" asp-controller="UserSettings">Hasło</a>
    </li>
    <li class="nav-item fs-3 my-3">
        <a class="nav-link text-secondary   btn btn-outline-warning " asp-area="Identity" asp-action="ChangeEmail" asp-controller="UserSettings">Adres e-mail</a>
    </li>
</ul>


