@{
    ViewData["Title"] = "Brak dostępu";
}
<div class="row mt-5 p-md-4 pb-md-3 p-2 bg-light rounded rounded-3">
    <div class="col-md-6">
            <img src="~/images/other/AccessDenied 800x450.jpg " class="img-fluid rounded rounded-3" asp-append-version="true"  />
            <div class="text-center pt-1 mb-0 pb-0" style="font-size:10px;">
                <a href="https://www.freepik.com/vectors/computer">Computer vector created by upklyak - www.freepik.com</a>
            </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="fs-1">
            <div>
                <span class="text-warning">Uuups!</span><span class="text-secondary"> Brak dostępu</span>
            </div>
            <div class="text-secondary fs-6">
                Nie posiadasz odpowiedniego dostępu na przeglądanie tego obszaru
            </div>
        </div>
        <div class="mt-1">
            <a asp-action="Index" asp-controller="Home" asp-area="Customer" class="btn btn-outline-warning">Przejdź do strony głównej</a>
        </div>
    </div>
</div>