<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body class="bg-light" style="font-family:Roboto">
    <div style="background-color: white; max-width: 650px; margin: 50px auto; ">
        <div style="color:rgb(108, 117, 125);border: 1px solid lightgray">
            <h1 style="text-transform: uppercase; color: black; font-size:40px; background-color: rgb(248, 249, 250); margin: 20px; padding: 5px; text-align: center;">
                Witamy
            </h1>
            <div style="text-align: center; margin-bottom: 10px;">
                <img src="{0}" alt="">
            </div>
            <div style="margin:20px;">
                <h4 style="text-align:center">Potwierdzenie nadania</h4>
                <div style="margin-bottom: 10px;">
                    Zamówienie o numerze:{1} zostało wysłane. Twój kod do śledzenia statusu przesyłki to:<span style="color:rgb(255, 193, 7); margin-top:2px;">{2}</span>. Dziękujemy za skorzystanie z naszego sklepu, jest nam niezwykle miło gościć cię u nas. Jednocześnie
                    zachęcamy do kolejnych zakupów.
                </div>
                <div>
                    <p style="margin:0">
                        Masz problem z zamówieniem? Odwiedź sekcję pomocy na stronie
                        sklepu lub napisz do nas na adres
                    </p>
                    <p style="color:rgb(255, 193, 7); margin-top:2px;">BROShops@outlook.com</p>
                </div>
                <div>
                    <p style="margin: 0px;">Pozdrawiamy,</p>
                    <p style="margin-top: 2px;">BROShops</p>
                </div>
            </div>
        </div>
        <div style="color:rgb(108, 117, 125);border: 1px solid lightgray; margin-top: 30px; ">
            <div style="margin:20px; text-align: center;">
                <p style="margin:0px">Chcesz dowiedzieć się więcej?</p>
                <a href="{3}" style="text-decoration: none; color:rgb(255, 193, 7);">Odzwieź nasz sklep</a>
            </div>
        </div>
    </div>

</body>
</html>