
@{
    ViewData["Title"] = "Bilans kaloryczny";

}
<div class="row align-items-center mb-5 mt-5">
    <div class="col-6">
        <h3 class="text-secondary  m-0">@ViewData["Title"]</h3>
    </div>
    <div class="col-6  text-end">
    </div>
</div>
<section class="row">
    <div class="col-12  p-3 ">
        <h4 class="pb-3">Czym jest bilans kaloryczny ? </h4>
        <p>
            <strong>Bilansem kalorycznym</strong> nazywamy różnice pomiędzy ogółem energii dostarczanej do organizmu a ogólnym wydatkiem ciała nastawionym na utrzymanie wszystkich podstawowych funkcji życiowych.
            Energia dostarczana jest z przede wszystkim ze spożywanego pokarmu, jest ona następnie zużywana przez organizm w wyniku jakiejkolwiek aktywności fizycznej.
            <strong>Zerowy bilans kaloryczny </strong> oznacza, że suma energii dostarczanej do organizmu jest równa energii wydatkowanej.<strong>Nadwyżką kalorii </strong> (bilansem dodatnim) nazywamy przypadek, w którym
            do organizmu dostarczane jest więcej energii niż wydatkowane, <strong>ujemny bilans</strong>  z kolei oznacza większy wydatek w stosunku do energii dostarczanej.
        </p>
        <h4>Dlaczego bilans kaloryczny jest tak ważny?</h4>
        <p>
            Elementem determinującym spadek masy lub jej przyrost jest odpowiednio ujemny, lub dodatni bilans kaloryczny.
            W zależności od tego, czy naszym celem jest wyszczuplenie swojej sylwetki, czy też chęć przytycia powinniśmy spożywać mniej lub więcej kalorii z posiłków.
        </p>
        <h5>Ujemny bilans kaloryczny</h5>
        <p>
            W przypadku, jeżeli twoim celem jest chęć utraty na masie, koniecznym działaniem jest zmniejszenie podaży kalorii. Organizm gromadzi pewną ilość energii, którą odpowiednio pobiera w przypadku, jeżeli nie zostaną mu dostarczone podstawowe wartości w stosunku do wydatków. Najczęściej energia ta odkładana jest w postaci tłuszczu w niepożądanych dla nas miejscach takich jak okolice brzucha.
            Utrzymując ujemny bilans, nasze ciało będzie pobierać energię z rezerw zgromadzonych w tłuszczu.
            Zbyt mała ilość spożywanej energii może wywołać efekt odwrotny do pożądanego a w skrajnych przypadkach prowadzić do skutków ubocznych takich jak bóle głowy, brak energii, problemy z koncentracją.
        </p>
        <h5>Nadwyżka kaloryczna</h5>
        <p>
            Jest to przypadek, w którym ilość spożywanej energii jest większa niż ilość energii wydatkowanej.
            Jeżeli twoim celem jest przybranie na wadze, należy spożywać jedzenie z większą ilością sumarycznych kalorii w stosunku do wydatków.
            Nie należy jednak przesadzać, zbyt duża ilość kalorii może prowadzić do niepożądanych skutków takich jak m.in. ociężałość, nadwaga czy cukrzyca.
        </p>
        <h5>Jak obliczyć bilans kaloryczny ?</h5>
        <p>
            W celu policzenia bilansu kalorycznego należy wykorzystać do tego celu specjalny wzór. W sieci istnieje wiele serwisów pozwalających na obliczenie bilansu kalorycznego, oto jedna z nich:
            <a href="https://www.fabrykasily.pl/bmr" class="text-warning">Kliknij tu</a>
        </p>
        <h5>Wzór na spoczynkowe zapotrzebowane kaloryczne</h5>
        <p>
           Wzór Harrisa-Benedicta : kobiety = 655,1 + (9,563 x masa ciała [kg]) + (1,85 x wzrost [cm]) – (4,676 x [wiek])
        </p>
        <p>
           Wzór Harrisa-Benedicta :  mężczyźni = 66,5 + (13,75 x masa ciała [kg]) + (5,003 x wzrost [cm]) – (6,775 x [wiek])
        </p>
    </div>
</section>


