@{
    ViewData["Title"] = "Makroskładniki";

}
<div class="row align-items-center mb-5 mt-5">
    <div class="col-6">
        <h3 class="text-secondary m-0 ">Makroskładniki</h3>
    </div>
    <div class="col-6  text-end">
    </div>
</div>
<section class="row">
    <div class="col-md-8 offset-md-2 mt-0 ">
        <img src="~/images/other/protein-bwt 1200x675.jpg" class="img-fluid opacity-75 rounded rounded-3"  />
    </div>
    <div class="col-12 mt-5">
        <p>
            <strong>Makroskładniki</strong> są elementami dostarczanymi do naszego organizmu poprzez sporzywanie pokarmu, są one wydobywane
            z jedzenia podczas trawienia.Elementy te są niezwykle istotne z punktu widzenia prawidłowego funkcjonowania organizmu.
            Organizm człowieka potrzebuje tych składników do prawidłowego funkcjonowania,świadome podejście do ich pozyskiwania
            pozwala na efektywne budowanie tkanki mięśnowej.
        </p>
        <h4>Wyróżniamy trzy główne makroskładniki</h4>
        <ul class="ps-0">
            <li>białka (1 g = 4 kcal)</li>
            <li class="mt-2">węglowodany (1 g = 4 kcal)</li>
            <li class="mt-2">tłuszcze (1 g = 9 kcal)</li>
        </ul>
        <div>
            <h5>Białka</h5>
            <p>
                Jest to podstawowy składnik odżywczy. Dostarczenie odpowiedniej ilości białka jest kluczowe z punktu widzenia prawidłowego
                funkcjonowania organizmu, uczestniczy on we wszystkich preclach w nim zachodzących. Białko pełni niezwykle istotną funkcje w budowaniu masy mięśniowej,
                podczas treningu siłowego włókna mięśniowe uszkadzają się. Organizm dąży do tego, aby po zniszczeniu się włókien zostały one odbudowane a ponadto, aby były bardziej wytrzymałe, aby przy następnym wysiłku fizycznym o podobnym obciążeniu i intensywności nie uległy one uszkodzeniu.
                Białko pełni więc rolę materiały, z którego organizm może wytwarzać mocniejsze oraz wytrzymalsze włókna mięśniowe.
            <p>
           
        </div>
        <div>
            <h5>Węglowodany</h5>
            Węglowodany to główne źródło energii dla naszego organizmu a konkretnie mięśni. Organizm po dostarczeniu mu węglowodanów
            rozkłada je na glukozę, którą w tej postaci może magazynować w mięśniach w postaci glikogenu lub przetwarzać w przypadku zapotrzebowania na energię.
            <strong>Glikogen</strong> jest wielocukrem (polisacharydem), odkładany w mięśniach stanowi główne źródło energii dla mięśni.
            Węglowodany możemy podzielić na cukry proste takie jak glukozę lub fruktozę,dwucukry oraz wielocukry
            Pełnią one kluczową funkcję jeżeli chodzi o prawidłowe funkcjonowania mózgu, serca czy wątroby.
            Glikogen to wielocukier i to on stanowi gotowe paliwo do wykorzystania dla pracujących mięśni.
            </p>   
        </div>
        <div>
            <h5>Tłuszcze</h5>
            <p>
                Tłuszcze bardzo często mylnie kojarzone są jako jedyny czynnik warunkujący występowanie otyłości.
                Obok węglowodanów oraz białek pełnią istotną funkcję w prawidłowym funkcjonowaniu organizmu, odpowiadają m.in. za równowagę hormonalną.
                <strong>Zdrowe tłuszcze</strong> o wysokiej jakości odgrywają istotną rolę w prawidłowym funkcjonowaniu układu nerwowego, w pozytywny sposób wpływają
                na układ krwionośny oraz wielu innych narządów niezbędnych do prawidłowego funkcjonowania człowieka.
                Zbyt mała podaż tłuszczy w diecie może skutkować uczuciem głody, ciągłym brakiem sytości nawet w przypadku dostarczania do organizmu odpowiedniej ilości kalorii pochodzących z węglowodanów lub białek.
            </p> 
        </div>
        <div>
            <h5><strong>Produkty bogate w makroskładniki</strong></h5>
            <div>
                <table class="table  table-striped">
                    <thead class="tab-pane">
                        <tr>
                            <th scope="col">Typ</th>
                            <th scope="col">Źródło</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Ser
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Jajka
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Ryba
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Mięso
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Mleko
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Orzechy i nasiona
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Soja, groch i fasola
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Drób
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Białko
                            </td>
                            <td>
                                Suplementy
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Owoce
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Ryż
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Otręby
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Bataty
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Warzywa
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Rośliny strączkowe
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Kasza
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Płatki owsiane
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Weglowodany
                            </td>
                            <td>
                                Makaron pełnoziarnisty
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tłuszcze
                            </td>
                            <td>
                                Ryby
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tłuszcze
                            </td>
                            <td>
                                Olej rzepakowy
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tłuszcze
                            </td>
                            <td>
                                Orzechy
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tłuszcze
                            </td>
                            <td>
                                Pestki i nasiona
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tłuszcze
                            </td>
                            <td>
                                Jaja
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tłuszcze
                            </td>
                            <td>
                                Oliwa z oliwek
                            </td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>