@model bool

<div class="row">
    <div class="col-12 text-secondary text-center mt-5">
        @if (Model)
        {
            <h2>E-mail został pomyślnie zmieniony</h2>
        }
        else
        {
            <h2>Zmiana adresu e-mail nie powiodła się</h2>
        }
    </div>
</div>
