@model BRO.Domain.Command.ApplicationUser.EditPasswordCommand

<div class="row align-items-center mb-5 mt-5">
    <div class="col-1  col-sm-6">
    </div>
    <div class="col-111 col-sm-6  text-end">
        <h3 class="text-secondary m-0 ">Zmiana hasła</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <partial name="_AccountPartial" />
    </div>
    <div class="col-md-7 offset-md-2">
        <div class="row">
            <div class="col-md-8  offset-md-2">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger val mt-3 mb-2 ms-0 p-0"></div>
                    <input asp-for="Id" readonly hidden />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control my-2" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control my-2" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordToConfirm"></label>
                        <input asp-for="PasswordToConfirm" class="form-control my-2" />
                        <span asp-validation-for="PasswordToConfirm" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-warning m-3">Zatwierdź zmiany</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<partial name="_ActionPerformedResultPartial" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ActionPerformedResultScriptsPartial" />
}