@model BRO.Domain.Command.ApplicationUser.LockoutApplicationuserCommand
@{
    ViewData["Title"] = "Blokowanie użytkownika";
}

<form method="post" class="mt-5">
    <div asp-validation-summary="ModelOnly" class="text-danger val  mb-2 ms-0 p-0"></div>
    <input asp-for="Id" hidden readonly />
    <div class="row p-3 border">
        <div class="col-12 border-bottom ">
            <h2 class="text-secondary">@ViewData["Title"]</h2>
        </div>

        <div class="col-12 col-md-8 pt-4">
            <div class="form-group row align-items-center text-secondary mb-4">
                <div class="col-8 offset-4">
                    @if (Model.LockoutEnd > DateTimeOffset.Now)
                    {
                        <span class="text-warning">Użytkownik zablokowany</span>
                    }
                    else
                    { 
                        <span class="text-warning">Użytkownik niezablokowany</span>

                    }      
                </div> 
            </div>
            <div class="form-group row align-items-center text-secondary">
                <div class="col-sm-4 col-12">
                    <label asp-for="LockoutEnd"></label>
                </div>
                <div class="col-sm-8 col-12">
                    <input asp-for="LockoutEnd" type="datetime-local" class="form-control text-dark" />
                    <span asp-validation-for="LockoutEnd" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="form-group row align-items-center text-secondary mt-3">
                <div class="col-sm-4 col-12">
                    <label asp-for="@Model.LockoutReason"></label>
                </div>
                <div class="col-sm-8 col-12">
                    <textarea asp-for="@Model.LockoutReason" class="form-control"></textarea>
                    <span asp-validation-for="@Model.LockoutReason" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-8 offset-md-4">
                    <div class="row">
                        <div class=" col-12 col-md-6 ">
                            <button type="submit" class="btn btn-outline-danger form-control">Edytuj</button>
                        </div>
                        <div class="col-12 col-md-6 mt-1 mt-md-0">
                            <a asp-action="Index" class="btn btn-outline-secondary form-control">Powrót</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

} 