
@{
    ViewData["Title"] = "Kontakt";
}
<div class="row align-items-center mb-3 mt-5">
    <div class="col-6">
        <h3 class="text-secondary m-0">Kontakt</h3>
    </div>
    <div class="col-6  text-end">

    </div>
</div>
<div class="mt-0">
    <p class="fs-5 mb-1">Kontakt telefoniczny:</p>
    <div class="mt-0">
        <p class="my-1 "><i class="far fa-thumbs-up text-warning"></i><span class="ps-2">+48 213321165</span></p>
        <p class="my-1 "><i class="far fa-thumbs-up text-warning"></i><span class="ps-2">+48 883919002</span></p>
    </div>
    <p class="fs-5 mb-1">Kontakt email:</p>
    <div class="mt-0">
        <p class="my-1 "><i class="far fa-thumbs-up text-warning"></i><span class="ps-2">BROShops@outlook.com</span></p>
    </div>
    <div class="mt-4">
        <span>
            Witaj. Wszelkie pytania możesz kierować pod wskazany wyżej adres email. 
            Udostępniamy również możliwość kontaktu telefonicznego w ramach dwóch numerów telefonu. 
            Zachęcamy do odwiedzenia naszej sekcji poradnikowej, w której znajdziesz podstawowe informacje z zakresu fit. 
            Dział ten będzie systematycznie rozszerzany o nowe elementy, zaglądaj tam często.
        </span>
    </div>

</div>