@{
    ViewData["Title"] = "Polityka prywatności";

}

<div class="row align-items-center mb-5 mt-5">
    <div class="col-6">
        <h3 class="text-secondary m-0">Polityka prywatności</h3>
    </div>
    <div class="col-6  text-end">

    </div>
</div>