
<div class="row">
    <div class="col-12 col-lg-4 offset-lg-4 col-md-6 offset-md-3 mt-5  border border-1 p-4 ">
        <h2 class="text-dark mb-0 text-center">Sprawdź pocztę</h2>
        <div class="fs-1 text-success text-center m-0 p-0">
            <i class="fas fa-check-circle"></i>
        </div>
        <p class="text-secondary mb-0 pb-0">Na adres e-mail podany w procesie rejestracji wysłany został link potwierdzający.</p>
        <p class="text-dark mb-1 mt-1">Nie otrzymałeś wiadomości?</p>
        <ul class="text-secondary ps-0">
            <li><p class="mb-0">1.Sprawdź spam.</p></li>
            <li><p class="mb-0">2.Poczekaj i sprawdź za 10 min.</p></li>
            <li><p class="mb-0">3.Sprawdź czy adres e-mail jest prawidłowy.</p></li>
        </ul>
    </div>
</div>