@model bool

<div class="row">
    <div class="col-12 text-secondary text-center mt-5">
        @if (Model)
        {
            <h2>Konto pomyślnie potwierdzone</h2>
        }
        else
        {
            <h2>Nie udało się potwierdzić konta</h2>
        }
    </div>
</div>

