@model BRO.Domain.Command.ApplicationUser.ForgotPasswordCommand
@{
    ViewData["Title"] = "Przypomnij hasło";
}
<div class="row">
    <div class="col-12 col-lg-4 offset-lg-4 col-md-6 offset-md-3 mt-5  border border-1 p-4 ">
        <h2 class="text-dark text-center mb-3">@ViewData["Title"]</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger val mt-3 mb-2 ms-0 p-0">   </div>
            <div>
                <label asp-for="Email" class="text-secondary my-2"></label>
                <input asp-for="Email" class="form-control bg-light " />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row mt-4">
                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-outline-warning form-control">Wyślij</button>
                </div>
            </div>
            <div class="col-12 mt-4">
                <p class="text-center "> 
                    <a asp-action="Login" class="text-secondary">Przejdź do logowania</a>
                </p>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
