
@model BRO.Domain.Command.ApplicationUser.ResetPasswordCommand
@{
    ViewData["Title"] = "Reset hasła";
}

<div class="row">
    <div class="col-12 col-md-6 col-lg-4  offset-lg-4 offset-md-3  mt-5  p-4 border-1 border ">
        <h2 class="text-dark text-center mb-3">@ViewData["Title"]</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger val mt-3 mb-2 ms-0 p-0"></div>
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div>
                <label asp-for="Password" class="text-secondary my-2"></label>
                <input asp-for="Password" class="form-control bg-light " />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <label asp-for="ConfirmPassword" class="text-secondary  my-2"></label>
                <input asp-for="ConfirmPassword" class="form-control bg-light " />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row mt-4">
                <div class="col-5">
                    <button type="submit" class="btn btn-outline-warning form-control">Potwierdź</button>
                </div>
                <div class="col-12 mt-4">
                    <p class="text-center mt-2">
                        <a id="forgot-password" class="text-secondary" asp-action="Login">Logowanie</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

