
@{
    ViewData["Title"] = "Potwierdzenie zamówienia";
    
}
<div class="row text-center mt-5">
    <div class="col-12 text-success fs-1 border border-1 ">
        <div class="w-50 mx-auto mt-3">
            <i class="fas fa-check-circle"></i>
        </div>
        <p class="m-0">Zamówienie złożone</p>
        <p class="fs-5 text-secondary">
            Dziękujemy za skorzystanie z naszego sklepu. Aby dowiedzieć się o statusie swojego zamówienia, przejdź do historii zamówień, która znajduje się w ustawieniach konta.
            Możesz tam śledzić status swojej przesyłki. Dodatkowo wysłaliśmy potwierdzenie złożenia zamówienia na twój adres e-mail.
        </p>
    </div>
</div>