
@{
    ViewData["Title"] = "Zamówienie opłacone";  
}
<div class="row text-center mt-5">
        <div class="col-12 text-success fs-1 border border-1 ">
            <div class="w-50 mx-auto mt-3">
                <i class="fas fa-check-circle"></i>
            </div>
            <p class="m-0">Zamówienie opłacone</p>
            <p class="fs-5 text-secondary">
                Dziękujemy za skorzystanie z naszego sklepu.
                Wszelkie informacje dotyczące zamówienia znajdują się w historii zamówień, w ustawieniach twojego konta.
                Możesz tam śledzić status swojej przesyłki. Dodatkowo wysłaliśmy potwierdzenie złożenia zamówienia na twój adres e-mail.
            </p>
        </div>
</div>




