
@{
    ViewData["Title"] = "Płatność odrzucona";
    
}
<div class="row text-center mt-5">
    <div class="col-12 text-danger fs-1 border border-1 ">
        <div class="w-50 mx-auto mt-3">
            <i class="fas fa-ban"></i>
        </div>
        <p class="m-0">Płatność odrzucona</p>
        <p class="fs-5 text-secondary">
            Dziękujemy za skorzystanie z naszego sklepu. Niestety coś poszło nie tak podczas procesu płatności. Przejdź do historii swoich zamówień w ustawieniach konta, aby zapłacić ponownie.
            Możesz tam śledzić status swojej przesyłki. Dodatkowo wysłaliśmy potwierdzenie złożenia zamówienia na twój adres e-mail.
        </p>
    </div>
</div>
